@charset "utf-8";
/**************公用***************/
.table {
    word-break: break-all;
    word-wrap: break-word;
}

.table td, .table th {
    text-align: center;
}

.pagination {
    float: right;
}